[2016-01-18 13:30] maltsev opened #1 "Minify CSS"
A module for minifying CSS inside `<style>` (cssnano?).

[2016-01-18 13:31] maltsev opened #2 "Minify JS"
A module for minifying JS inside `<script>` and JS-attributes (like `onlick`).

[2016-01-19 00:16] maltsev opened #3 "CLI version"

[2016-01-19 00:17] maltsev opened #4 "Gulp version"

[2016-01-19 00:17] maltsev opened #5 "Grunt version"

[2016-01-20 16:06] maltsev commented on #4
Done: https://www.npmjs.com/package/gulp-htmlnano

[2016-01-20 16:06] #4 closed

[2016-01-21 19:45] maltsev commented on #1
Done.

[2016-01-22 11:26] maltsev opened #6 "Remove attribute quotes"
Source:

[code]

Minified:

[code]

[2016-01-22 11:29] maltsev opened #7 "Collapse boolean attributes"
Source:
[code]

Minified:
[code]

[2016-01-22 13:15] voischev commented on #6
PR to posthtml-render? Or fork?

[2016-01-22 13:27] maltsev commented on #6
I don't know yet. I was thinking about a more simple way: just to replace quotes in `result.html`.

[2016-01-22 13:29] voischev commented on #6
ok

[2016-01-23 14:31] maltsev commented on #1
The module should also minify CSS inside `style` attributes.

[2016-01-23 14:36] maltsev opened #8 "Remove empty elements"
Source:
[code]

Minified:
[code]

By default the module must be disabled, since it could break the page. It should probably have a few options:
- remove all empty elements
- remove empty elements without attributes (class, id, etc)

[2016-01-26 08:14] maltsev opened #9 "Remove redundant attributes"
Source:
[code]

Minified:
[code]

[2016-01-27 21:50] #1 closed

[2016-01-28 15:46] maltsev opened #10 "Minify URLs"
`http://example.com/dir2/dir2-1/ → /dir2/dir2-1/`

https://github.com/stevenvachon/relateurl

[2016-01-30 21:37] maltsev commented on #2
Done.

[2016-01-30 21:37] #2 closed

[2016-02-01 11:26] maltsev opened #11 "Minify script templates"
Source:
[code]

Minified:
[code]

[2016-02-05 22:01] maltsev opened #12 "Minifiers [ideas]"
- [ngx_pagespeed](http://ngxpagespeed.com/)
- [html-minifier](https://www.npmjs.com/package/html-minifier)

[2016-02-06 07:47] voischev commented on #12
remove \n \t and ect
[code]
https://github.com/posthtml/project-stub/blob/master/gulpfile.js#L14-L18

[2016-02-06 10:05] maltsev commented on #12
@voischev the module `collapseWhitespace` does that. Or did you find some error?

[2016-02-07 15:24] devinus opened #13 "Safe comment removal should not remove conditional comments"
https://en.wikipedia.org/wiki/Conditional_comment

[2016-02-07 15:25] devinus opened #14 "Add an option to limit line length in output"
Similar to the `maxLineLength` of `html-minfier`.

[2016-02-07 15:30] devinus commented on #14
I think this might belong in `posthtml-render`.

[2016-02-07 15:30] #14 closed

[2016-02-07 20:31] maltsev commented on #13
Thank you for your report! Fixed: [0.1.2](https://github.com/maltsev/htmlnano/releases/tag/0.1.2)

[2016-02-07 20:54] #13 closed

[2016-02-07 21:15] devinus commented on #13
Nice!

[2016-02-08 13:39] devinus opened #15 "Whitespace within conditional comments is being collapsed"

[2016-02-08 18:50] devinus commented on #15
Actually, this seems like good behavior. But I do need a way to not strip some HTML comments. Using triple dash HTML comments has some prior art in Pandoc.

E.g.

``

I'll do a PR for this.

[2016-02-08 20:19] maltsev commented on #15
I don't think this is a good behavior. The module `collapseWhitespace` shouldn't treat comments at all. And the module `removeComments` should either remove the comment or keep it unalterable.

I agree with you about the prior comments and triple dash syntax. It'd awesome if you'll do a PR for that.

[2016-02-08 21:40] devinus commented on #15
Well, things inside conditional comments are usually (always?) HTML, so it would be nice to minify that too.

[2016-02-08 22:39] maltsev commented on #15
Ah, I'm sorry. I was talking about comments in general. Yes, you're right. But I think it'll be better to have a separate module for that, which will parse HTML inside the conditional comment and minify it with the appropriate modules (`collapseWhitespaces, minifyCss, minifyJs, etc`).

[2016-02-08 22:44] maltsev opened #16 "Minify content inside conditional comments"
Source:

[code]

Minified:

[code]

The module should parse the content inside a conditional comment and minify it with `htmlnano`.

[2016-02-08 22:49] maltsev opened #17 "Don't alter HTML comments inside modules"
None of the modules should alter regular HTML comments (except conditional comments).

For example, the module `collapseWhitespaces` alters HTML comments now.

[2016-02-08 22:53] maltsev commented on #15
So I've created two issues for that:
- [Minify content inside conditional comments](https://github.com/maltsev/htmlnano/issues/16)
- [Don't alter regular HTML comments inside modules](https://github.com/maltsev/htmlnano/issues/17)

[2016-02-09 12:09] maltsev commented on #17
Fixed: [0.1.3](https://github.com/maltsev/htmlnano/releases/tag/0.1.3)

[2016-02-09 12:09] #17 closed

[2016-02-09 23:11] stevenvachon commented on #12
The biggest thing for me is to split out to separate plugins for individual test suites:
* htmlnano-remove-empty-attrs
* htmlnano-normalize-whitespace
* htmlnano-merge-styles
* htmlnano-merge-scripts
* htmlnano-cssnano
* htmlnano-uglifyjs
* etc

@maltsev [normalize-html-whitespace](https://npmjs.com/normalize-html-whitespace) is the most accurate. Also, the key is to *normalize*, not *strip* as to

[2016-02-10 10:09] maltsev commented on #12
@stevenvachon, first of all, thank you for new plugin ideas! I'll consider splitting out the modules to separate plugins. But it'll be much harder for me to maintain a few dozens small plugins (documentation, infrastructure) instead of one `htmlnano`.

[2016-02-10 10:12] maltsev opened #18 "Merge styles"
Merge several `<style>` into one. Consider if the style tag's position is significant for rendering.

@stevenvachon, thanks for the idea.

[2016-02-10 10:14] maltsev opened #19 "Merge scripts"
Merge several `<script>` content into one. Consider possible bugs.

@stevenvachon, thanks for the idea.

[2016-02-10 10:18] maltsev opened #20 "Minify JSON inside script tags"
@stevenvachon, thanks for the idea.

[2016-02-10 10:27] maltsev opened #21 "[fix]: [collapseWhitespace] Normalize white spaces safely"
@stevenvachon, thanks for the idea.

[2016-02-10 15:53] stevenvachon commented on #18
Tag's position doesn't affect anything, except perhaps while streaming the page on a very slow connection. CSS is always cascaded, so once the page is loaded, the result is the same as if they were merged.

[2016-02-10 15:55] stevenvachon commented on #12
No problem. It's definitely more work to create separate projects, at least initially. Once created, it will make dealing with tests much easier because there're fewer of them and they're all very specific to one feature. This is how cssnano and cssnext are designed.

[2016-02-10 16:26] maltsev commented on #12
@stevenvachon, I agree with you. I'm also trying to write the modules and the tests as separated as possible, so it'll be easy to split off them later.

[2016-02-12 12:41] maltsev commented on #9
Done. Will be shipped in the next release (0.1.4).

[2016-02-12 12:41] #9 closed

[2016-02-12 13:55] maltsev commented on #7
Done. Will be shipped in the next release (0.1.4).

[2016-02-12 13:55] #7 closed

[2016-02-12 14:07] maltsev commented on #18
Actually, it does if [the `scoped` attribute](http://html5doctor.com/the-scoped-attribute/) is present.

[2016-02-12 14:11] maltsev opened #22 "Add comparison with other minifiers"
Add the comparison to the README.

Perhaps it'll be better to write a script which compares different minifiers and generates the result table.

[2016-02-12 14:24] stevenvachon commented on #18
Aye, didn't know about that

[2016-02-12 16:06] maltsev commented on #18
Done. Will be shipped in the next release (0.1.4).

[2016-02-12 16:06] #18 closed

[2016-02-13 12:15] maltsev opened #23 "Error minifying npmjs.com"
Error minifying [npmjs.com main page](https://gist.github.com/maltsev/ba3affc8aa57c29c13fe):
[code]

[2016-02-16 13:38] maltsev commented on #20
Done. Will be shipped in the next release (0.1.4).

[2016-02-16 13:38] #20 closed

[2016-02-16 14:16] maltsev commented on #23
Fixed.

[2016-02-16 14:16] #23 closed

[2016-02-16 15:14] #22 closed

[2016-02-19 19:12] stevenvachon commented on #21
Along with this, whitespace between tags within `<head>` (except for `<title>`) can be completely removed as the entire element is not rendered.

[2016-02-22 10:21] maltsev opened #24 "[collapseWhitespace] Remove whitespaces between tags within <head>"
@stevenvachon, thanks for the idea.

[2016-02-22 10:21] maltsev commented on #21
@stevenvachon, thanks! I've created an issue for that: #24

[2016-02-22 14:14] stevenvachon commented on #12
Whitespace within attributes containing space-separated lists can also be normalized:
[code]
->
[code]

[2016-02-22 16:30] maltsev opened #25 "Normalize whitespaces inside attributes"
->
`<a href="#" class="class1 class2" rel="external nofollow">link</a>`

@stevenvachon, thanks for the idea!

[2016-02-22 17:11] stevenvachon commented on #25
Np. But remember that such attributes should be limited to only those containing space-separated lists. We would wan't to normalize something literal like `title="term:  value\nterm1: value"`

[2016-02-24 22:40] maltsev opened #26 "Add CHANGELOG"

[2016-03-03 16:00] stevenvachon commented on #12
1. remove quotes on qualifying attributes
2. switch between `'` and `"` (per attribute) as attribute value encapsulators to find which produces the smallest output (due to any necessary commenting: `attr='blah \'blah\''` vs `attr="blah 'blah'"`)

[2016-03-03 16:07] maltsev opened #27 "Smart encapsulation"
@stevenvachon:

[2016-03-03 16:10] maltsev commented on #12
@stevenvachon, thanks! I've created an issue for your first idea: #27
An issue for the second one is already there: #6

[2016-03-03 16:13] stevenvachon commented on #12
[svgo](https://npmjs.com/svgo) for inline svg

[2016-03-03 16:21] maltsev opened #28 "Minify SVG"
[svgo](https://npmjs.com/svgo), for example.

@stevenvachon, thanks for the idea!

[2016-03-04 14:42] stevenvachon commented on #12
1. Remove optional closing tags such as `</html>`, `</head>`, `</body>`, `</option>`, `</p>`, `</thead>`, `</tbody>`, `</tfoot>`, `</tr>`
2. remove optional opening tags such as `<html>`, `<head>`, `<body>`

[2016-03-05 22:25] maltsev opened #29 "Remove optional open/closing tags"
@stevenvachon:

2. remove optional opening tags such as `<html>`, `<head>`, `<body>`

[2016-04-16 17:32] #26 closed

[2016-04-16 17:33] maltsev commented on #28
Done. I'll ship it in the next release.

[2016-04-24 11:45] maltsev commented on #19
Done. I'll ship it in the next release.

[2016-04-24 12:19] #28 closed

[2016-04-24 12:19] #19 closed

[2016-06-09 00:14] stevenvachon commented on #12
Strip HTML from content within `<title></title>` tags as browsers and search engines will ignore it anyway.

[2016-11-10 09:52] michael-ciniawsky opened #32 "Move to it's own Organisation (htmlnano)"
👋

There are plenty of Issues with `help-wanted`  label and I'm eager to help out. Beforehand I would like to discuss an eventual move of this module and gulp-htmlnano to it's own [org](https://github.com/orgs/htmlnano) (Just for preserving the name atm, will be your ownership of course :) ). If you don't like the idea, please give my some insight of your prefered way to collaborate here.

#### Wh

[2016-11-10 17:16] maltsev commented on #32
Hi @michael-ciniawsky,

First of all, thank you for your helping! I think it'd be overhead to create a separate organization for this module. Let's move it to [posthtml](https://github.com/posthtml) instead. What do you think?

Steven already proposed that in #12. But I still think it would be overhead. For me It's better to have all those minification in one place (both from UX and maintainabilit

[2016-11-10 17:45] michael-ciniawsky commented on #32
Since minifiers and linters are always kind of 'outstanding' projects ;), the question is, does a separate org (place) makes more sense. Initially I was thinking of PostHTML aswell, but there are many other repos (noise). Sure it's build on top of posthtml, but you can use it without even knowing what the heck posthtml is aswell ;). My experience is that people somehow always appreciate it when th

[2016-11-13 08:07] michael-ciniawsky commented on #32
@maltsev Did I scare you off a bit with my tendency PR/marketing bubbling 😛 ?

[2016-11-13 13:04] maltsev commented on #32
@michael-ciniawsky no, not at all :-) Sorry, I was just busy these few days.

I don't think that users (i.e. these who just use the library without participating in development) care about that at all. I think it's more about the community of people who help to develop the library. And in my opinion, it's better to build one community around PostHTML than two (PostHTML + htmlnano) because they'd b

[2016-11-15 06:59] michael-ciniawsky commented on #32
👍 I'm perfectly fine with it, maybe the plugins catalog aswell then 😛 .Proper Website and Plugins Catalog (in terms of conjunction of those two, current catalog is awesome on it's own) is the next bigger TODO on the list :). kk when you find the time :shipit: . I will comment on or file issues then for getting started 😊

[2016-11-16 09:25] maltsev commented on #32
Great! I'll transfer it on the weekend.

[2016-11-16 15:08] michael-ciniawsky commented on #32
👍

[2016-11-20 15:31] maltsev commented on #32
I've transferred both _htmlnano_ and _gulp-htmlnano_ repositories. @michael-ciniawsky I guess, we could close this issue?

[2016-11-20 16:10] michael-ciniawsky commented on #32
@maltsev yep 😛 👍

[2016-11-20 16:10] #32 closed

[2016-11-20 16:12] michael-ciniawsky commented on #32
Ok, if I update the README style like e.g [posthtml-expressions](https://github.com/posthtml/posthtml-expressions) leaving all contents, for getting started ? 💯

[2016-11-30 19:09] stevenvachon opened #33 "Split out into separate modules"
For example, I have a need to merge all `<style>` elements for a different transformation before minifying the entire document. Currently, I'll need to run htmlnano with all sub-modules disabled except for `mergeStyles`, which poses a problem for a future where new sub-modules are added.

**Edit:**
`mergeStyles` could replace the lesser quality [posthtml-collect-styles](https://www.npmjs.com/packa

[2016-12-01 16:01] stevenvachon opened #34 "Conservative whitespace collapse misses some spaces"
Before:
[code]

After:
[code]

Notice the two spaces after `</style>`.

Whitespace collapse should take place after element removals, if it isn't already.

[2016-12-02 21:12] stevenvachon commented on #34
Another issue directly related to this one is trailing new lines get converted to spaces when they should probably be stripped completely.

Before:
[code]
After:
[code]
(you'll need to select the text to notice the trailing space)

[2016-12-06 22:03] stevenvachon opened #35 "Compress identifiers"
with [posthtml-uglify](https://npmjs.com/posthtml-uglify). This should be optional because most of the time this will cause issues. It's great for emails, though.

[2016-12-06 22:33] stevenvachon opened #36 "Remove unused CSS"
with [email-remove-unused-css](https://npmjs.com/email-remove-unused-css).

It's built with posthtml, but it currently cannot be used as a plugin and forces a reparse of the HTML. This should [get fixed](https://github.com/code-and-send/email-remove-unused-css/issues/1), though.

[2016-12-07 13:53] revelt commented on #36
I agree, the unused CSS removal is a perfect feature for minifier.

And there can be issues when any removal of CSS is done _after_ the minification because, for example, mentioned [email-remove-unused-css](https://npmjs.com/email-remove-unused-css) parses and renders back the code. The CSS renderer (stringifier) won't output minified code, what means minifying would need to be performed **again**

[2016-12-15 15:13] stevenvachon opened #37 "Minify meta refresh values"
[code]
can be shortened to:
[code]

[http-equiv-refresh](https://npmjs.com/http-equiv-refresh)

[2016-12-15 16:15] stevenvachon opened #38 "Minify srcset values"
[code]
can be shortened to:
[code]

[parse-srcset](https://npmjs.com/parse-srcset)

[2016-12-15 19:15] maltsev commented on #33
You can also use htmlnano modules separately:
[code]

I also updated the README with that example.

[2016-12-15 19:16] maltsev commented on #33
Though, we could consider adding an attribute which would disable all modules by default.

[2016-12-16 17:22] stevenvachon opened #39 "De-duplicate list attribute values"
such as `class`, `ping` and `rel`.

[code]
would compile to:
[code]

These would be handy: [list-to-array](https://npmjs.com/list-to-array), [dupe](https://npmjs.com/dupe)

If we wanted to de-dupe URL lists (such as `ping`), we could use [specurl](https://github.com/stevenvachon/specurl)'s `relation()`.

[2016-12-21 16:48] voischev opened #40 "use svgo for SVG tags?"

[2016-12-31 10:50] maltsev commented on #40
It's already [implemented](https://github.com/posthtml/htmlnano#minifysvg).

[2016-12-31 10:50] #40 closed

[2017-02-22 12:44] Kreozot opened #41 "minifyJs turns single quotes in handler-attributes into double quotes"
Which is breaking code, of course.
Here is the case: `<a onclick="myFunc('my string')">` turning into `<a onclick="myFunc("my string")">`. When I disable minifyJs option, everything is fine.

[2017-06-26 18:21] selbyk opened #43 "Published patch for recent PR"
I would like to request a patch be published whenever you get a chance.

And for the future for quick iterations--is there a simple way to include unreleased htmlnano in a project? I'm currently trying `"htmlnano": "github:Rebelmail/htmlnano#rebel"` in our `package.json` with yarn.  The branch is the PR I made with the compiled files committed.  It works--the first time installed with no yarn.lock

[2017-06-27 15:18] maltsev commented on #43
I published the new version: https://www.npmjs.com/package/htmlnano

Sorry, I don't know how to include an unreleased package. If you'll find a solution it'll be nice if you post it here :-)

[2017-06-28 02:56] stevenvachon opened #44 "Remove package-lock.json"
It's meant for apps, not published packages. They are automatically npmignored which means that while users of the project will install whatever is most recent that conform to semver, maintainers of the project can be locked into older versions, unable to reproduce possible issues before making a release.

Please remove the file and gitignore it.

[2017-06-28 14:44] maltsev commented on #44
Thank you for explaining that!

I suppose it's fine to not issue a new release with this fix then?

[2017-06-28 14:54] stevenvachon commented on #44
No prob.

Yep, should be fine as a git commit as it only affects maintainers.

[2017-06-28 14:54] #44 closed

[2017-12-14 18:52] michael-ciniawsky opened #46 "[v0.1.6] `tree.forEach` is not a `{Function}`"
![minifiererror](https://user-images.githubusercontent.com/5419992/34009182-3d08b4b0-e108-11e7-8550-7731781e1970.png)

**file.html (import)**
[code]

**module.html**
[code]

**webpack.config.js**
[code]

**module**
[code]

**entrypoint**
[code]

[2017-12-21 03:31] #43 closed

[2017-12-21 03:32] selbyk commented on #43
Thanks for the quick reply.  Alls well now, I don't even remember this PR.

[2018-01-12 06:53] icai commented on #11
+1

[2018-03-02 04:44] bencooper222 opened #47 "Does not minify svgs that have the <use> tag in them"
Pretty much what it sounds like. I created an example [here](https://glitch.com/edit/#!/lying-equinox?path=server.js:24:4). You can view the results of this code in three places:

1. No minification: https://lying-equinox.glitch.me/
2. Minification with minifySvg set to `false`: https://lying-equinox.glitch.me/minify_good
3. Minification with minifySvg set to default (which is true): https://lying

[2018-03-13 01:38] bencooper222 commented on #47
The issue seems to be related to SVGO's default settings which seem to be too aggressive in minimizing.

[2018-03-13 01:44] davidnagli commented on #47
@voischev @Scrum @maltsev We need this feature for @parcel-bundler. It's currently causing issues for our users. 😞

See: parcel-bundler/parcel#929

[2018-03-13 07:47] Scrum commented on #47
@bencooper222 @davidnagli Thanks for ping, I'll try to figure this out soon. Let me know if you find a solution ahead of me :)

[2018-03-13 08:59] Scrum commented on #47
At the moment I recommend using htmlnano with settings for svgo:
[code]

see [example](https://github.com/inside-demo/svgo-demo)

yep

[2018-03-13 09:07] Scrum commented on #47
related to work https://github.com/svg/svgo/issues/921

[2018-03-13 15:10] bfred-it commented on #47
In my case, the entire `<svg>` is replaced with `undefined` if a `use` tag is in it:

For example
[code]

Becomes

[code]

Here's a one-line CLI test:

[code]

[2018-03-13 18:52] maltsev commented on #47
I updated all dependencies and released [version 0.1.7](https://github.com/posthtml/htmlnano/releases/tag/0.1.7). Now `<use>` minification works well.

[2018-03-13 18:52] maltsev commented on #47
@bfred-it `xlink:href` is [deprecated](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/xlink:href). Therefore, I guess, SVGO doesn't process it. If you replace it with `href` it'd work fine, though.

[2018-03-15 07:22] bfred-it commented on #47
@maltsev `xlink:href` should still be processed because the vast majority of SVGs on the web use it. I doubt `href` has the same compat.

I think my issue here was the lack of `xmlns:xlink="http://www.w3.org/1999/xlink"`

This works:

[code]

This doesn't, but it should **fail** either explicitly or by leaving the SVG as-is, not output `undefined`
[code]

[2018-03-15 11:13] maltsev commented on #47
You're right. `htmlnano` processes such code correctly:
[code]

But it explicitly fails when `xmlns:xlink` isn't present:
[code]

So it seems that that `undefined` error should be fixed in parcel-bundler/parcel#996.

[2018-03-15 11:13] #47 closed

[2018-03-18 14:36] bfred-it commented on #21
I think this is fixed (at least partially) by setting `collapseWhitespace: 'conservative'`. I saw `the <em>space</em>` before/after `em` being removed and that option avoids that.

[2018-03-26 13:41] stevenvachon commented on #21
I haven't researched how web browsers render spaces across different elements. I think that it changes depending on block/inline level, which can be overridden via CSS. It might be safer to simply reduce multiple spaces to single spaces via the above mentioned library.

[2018-03-26 15:29] bfred-it commented on #21
Exactly. Ignore I set two `div` to `display: inline` the space will matter

[2018-03-26 17:43] stevenvachon commented on #21
Ok. As originally stated, though, the "conservative" `/s+` is not the same as the above mentioned library.

Also, I think that the default should not be "all", since it results in unexpected render differences.

[2018-04-17 09:13] elgs opened #48 "Fix ES6+ minification"
Would you please take a look at this issue? Thanks!

https://github.com/parcel-bundler/parcel/issues/1173

[2018-04-17 11:43] maltsev opened #49 "Fix minifyCss test on Travis CI"
All tests pass successfully on my local machine, but on Travis CI they always fail with the following error:
[code]

[2018-04-17 11:55] maltsev commented on #48
Thanks for submitting the bug! I published new version 0.1.8 with the fix.

It was an issue with `uglify-js`, which is used internally to minify JS. It turned out that it doesn't support ES6+ minification. So I replaced it with `uglify-es` and now it seems to be working fine.

[2018-04-17 11:55] #48 closed

[2018-04-17 18:08] elgs commented on #48
Thank you, @maltsev!

[2018-04-27 14:34] DeMoorJasper opened #50 "Add a safe preset"
It would be nice to have an option called `safe` that sets the optimal preset for minifying html safely, without having to thinker around untill you get a universal htmlnano config that works safe for everyone.

This idea came from trying to optimise the universal config for parcel, as we from time to time get a bug report with an unsafe transform.

If there is intrest for this feature but no avai

[2018-04-28 12:42] maltsev commented on #50
Hi @DeMoorJasper,

I'm definitely interested in making _htmlnano_ minifications safe by default for all types of HTML. Actually, I think we don't need a preset for that. All modules should minify code without breaking it by default. That was also my intention initially. And if someone wants to minify their code even more they could enable some hard-minifying options (in such case a preset you sugg

[2018-04-28 13:29] DeMoorJasper commented on #50
Awesome! I'll do a PR in a bit

[2018-04-29 10:04] #50 closed

[2018-04-29 10:14] maltsev commented on #50
@DeMoorJasper thanks for making the default minification options even safer! I published [new version 0.1.9](https://github.com/posthtml/htmlnano/releases/tag/0.1.9).

[2018-05-17 13:22] fabiosantoscode opened #52 "New dependency name: uglify-es => terser #1"
There has been development on a new fork of uglify-es, which is now called terser and has its own package!

    "terser": "^3.7.3"

Please upgrade to our new version.

[2018-05-24 11:54] maltsev commented on #52
@fabiosantoscode sorry for the late reply. Thanks for letting me know about that new fork! I've added it to the project instead of `uglify-es`.

It took me a while to find information about your fork and why should I use it instead of `uglify-es`. I think some repository owners won't do that and just ignore your proposal. So it might be a good idea to mention some pros of using `terser` instead of

[2018-05-24 11:54] #52 closed

[2018-06-20 22:16] #46 closed

[2018-08-01 11:48] hacknug opened #53 "Specify which SVGO plugins to use"
Is there any way to enable/disable specific SVGO plugins using the config file? Right now my `.htmlnanorc` looks like this:

[code]

And I'd like to have something like this:

[code]

[2018-08-02 16:57] Kompwu opened #54 "Unexpected token: operator (<) when using "/>" on "script" tag."
This code cause the issue:
[code]

[2018-08-02 19:27] jordanbtucker opened #55 "mergeScripts should insert semicolons between <script> tags"
With the following HTML and default options:

[code]

It should produce:

[code]

But instead you get the following error:
[code]

So it appears that it is concatenating the two <script> tags as this (without a semicolon in between):

[code]

If you put the semicolon there yourself, `mergeScripts` does something even stranger. It replaces it with a comma:

[code]

becomes

[code]

The comma is val

[2018-08-02 20:41] maltsev commented on #53
htmlnano doesn't support `.htmlnanorc` yet. But you can configure SVGO plugins the following way:
[code]

[2018-08-02 20:41] #53 closed

[2018-08-03 11:43] maltsev commented on #55
Thanks for the bug report! I fixed it. I'll release a new version today.

[2018-08-03 11:43] maltsev commented on #55
Actually, that is a result of `minifyJs` optimization. If you disable it `;` shouldn't be replaced with `,` in that case.

[2018-08-03 11:53] maltsev opened #56 "Update cssnano to version 4"
_htmlnano_ uses _cssnano 3_ for CSS minification. It'll be nice to update it to 4th version. Though, it has some breaking changes (e.g. different config format), so when updated _htmlnano_ should be released as `0.2.0` version probably.

It might also solve #49.

[2018-08-03 12:08] maltsev commented on #55
Released: [0.1.10](https://www.npmjs.com/package/htmlnano/v/0.1.10).

[2018-08-03 12:08] #55 closed

[2018-08-03 12:10] maltsev commented on #54
Unfortunately, I wasn't able to reproduce it :-/

I just released new version [0.1.10](https://www.npmjs.com/package/htmlnano/v/0.1.10). Can you update your app and try again? If you'd get an error again, could you please post the source code, so I'd be able to reproduce the error.

[2018-08-03 15:21] hacknug commented on #53
Just fyi (in case you didn't know already), Parcel allows you to use such `.htmlnanorc` so maybe it would be a good idea to do something about it. I don't know much about the project but I can help if you're interested in doing something about it.

Since it seems like this is something related to parcel (at least for now), I'll open an issue there to discuss how this should be done so that file al

[2018-08-03 20:30] Kompwu commented on #54
@maltsev [Here](https://github.com/kompwu/audio-only-youtube)
Change: https://github.com/Kompwu/audio-only-youtube/blob/137e8cabe62f2945ce76468122e6f66ec6c9794f/src/html/options.html#L22

To:
[code]

Then `npm run build:dev`

[2018-08-05 12:06] maltsev commented on #53
I'm definitely interested and I'll appreciate your help! Though, I don't have spare time right now to implement that myself, but I'll accept your PR.

[2018-08-06 18:56] maltsev commented on #54
Okay, I was able to reproduce it with another code:
[code]

Unfortunately, I don't have much spare time this month. Probably I'll look into it in a few weeks.

[2018-08-18 12:17] maltsev commented on #54
Actually, this code is invalid and breaks a tree structure. Here is the report from [the W3C validator](https://validator.w3.org/) (see the used code below):

- Self-closing syntax (`/>`) used on a non-void HTML element. Ignoring the slash and treating as a start tag.
- End of file seen when expecting text or an end tag.
- Unclosed element `script`.
- The text content of element `script` was not i

[2018-08-18 12:17] #54 closed

[2018-08-31 12:21] fstanis opened #57 "AMP support"
I'm experimenting with using PostHTML and htmlnano with a page I've built using [AMP](https://www.ampproject.org/) and, while it works fine right now (as AMP is just HTML), I think there are some minor tweaks to htmlnano that would make it even more useful.

Notably:

- AMP has some additional attributes that could be added to `collapseBooleanAttributes`, such as `amp`, `amp-custom`, `amp-boilerpl

[2018-08-31 14:05] maltsev commented on #57
Totally! I'll appreaciate it if you implement these minifications.

[2018-09-03 22:51] fstanis commented on #57
#59 adds some of the things mentioned. I'll still need to look into whether additions can be made to `removeRedundantAttributes` and `removeEmptyAttributes`, but this should make htmlnano a lot more useful for AMP pages already.

[2018-09-04 14:12] maltsev commented on #57
Great!

@fstanis are you going to submit new PRs this week (except #60)? If yes then I'll wait for your new PRs before releasing a new htmlnano version. Otherwise I'll release it as soon as #60 gets merged.

[2018-09-08 22:09] dsinni opened #62 "HTML `visible="false"` gets minified to `visible` with no assigned value"
I'm using ParcelJS `1.9.7` with htmlnano to bundle my A-Frame/WebVR/XR apps, and I've noticed some weird behavior with my apps after bundling the production build.

I discovered that this is because `visible="false"` in HTML is getting minified to `visible` with no assigned value, rendering the attribute ineffective. `visible` is a valid attribute for A-Frame, so I need it to get minified with the

[2018-09-09 07:07] maltsev opened #63 "Add .htmlnanorc support"
For storing configuration.

[2018-09-09 07:07] maltsev commented on #62
Thanks for submitting the bug report!

While I'm trying to figure out how to fix it I'd suggest you disabling the following minification in your config until the fix will be released:
[code]

`htmlnano` doesn't support `.htmlnanorc` yet. I've opened issue #63 for implementing it.

[2018-09-09 16:15] dsinni commented on #62
Thanks, @maltsev! That did the trick, at least until you release a more robust solution, if necessary.

I didn't see `collapseBooleanAttributes` in the documentation, however. Am I missing something?

That's odd, because it's actually working for me. I'm using Parcel, but it worked automatically after installing `htmlnano` `0.1.10` as a dev dependency. Maybe it's actually Parcel that supports `.ht

[2018-09-12 16:52] maltsev commented on #56
Done.

Since `cssnano 4` has a different API it won't be used in `htmlnano 0.1.*`, but only starting from version 0.2.0.

[2018-09-12 16:52] #56 closed

[2018-09-12 16:53] maltsev commented on #49
Fixed in #56.

[2018-09-12 16:53] #49 closed

[2018-09-12 17:04] maltsev opened #64 "Presets for different kinds of minifications"
Since `htmlnano` could be used for different kinds of pages and for different purposes it'll be nice to have presets. So instead of fine-tuning modules' options to be passed to `htmlnano` a developer could just use a suitable preset.

Here are some examples of presets that could be added:
- safe - safe minifications without any side effects (basically the default options)
- all - maximal minificat

[2018-09-12 17:09] maltsev commented on #62
Seems like you are :-) Here is [the link to that section](https://github.com/posthtml/htmlnano#collapsebooleanattributes).

[2018-09-12 18:04] dsinni commented on #62
Ah, not sure how I missed that. Thanks, @maltsev!

[2018-09-13 08:50] maltsev commented on #62
The bug has been fixed. The fix will be released in 0.2.0 version (I think next week).

[2018-09-13 08:50] #62 closed

[2018-09-13 09:08] maltsev commented on #21
Done. It'll be released in 0.2.0 version (I think next week).

[2018-09-13 09:08] #21 closed

[2018-09-13 10:30] maltsev commented on #24
Done. It'll be released in 0.2.0 version.

[2018-09-13 10:30] #24 closed

[2018-09-13 10:36] maltsev commented on #34
Fixed in #24.

[2018-09-13 10:36] #34 closed

[2018-09-13 10:42] maltsev commented on #33
This is going to be implemented in presets (#64).

[2018-09-13 10:42] #33 closed

[2018-09-14 13:56] maltsev commented on #39
For now I only implemented `class`, `rel`, and `ping` minification as `deduplicateAttributeValues` module. I'm going to release it in version 0.2.0.

[2018-09-14 13:56] #39 closed

[2018-09-14 18:09] maltsev commented on #64
Released: [0.2.0](https://github.com/posthtml/htmlnano/releases/tag/0.2.0).

[2018-09-14 18:09] #64 closed

[2018-09-14 18:10] maltsev commented on #62
Released: [0.2.0](https://github.com/posthtml/htmlnano/releases/tag/0.2.0).

[2018-09-14 18:10] maltsev commented on #39
Released: [0.2.0](https://github.com/posthtml/htmlnano/releases/tag/0.2.0).

[2018-09-14 18:10] maltsev commented on #25
Released: [0.2.0](https://github.com/posthtml/htmlnano/releases/tag/0.2.0).

[2018-09-14 18:10] maltsev commented on #24
Released: [0.2.0](https://github.com/posthtml/htmlnano/releases/tag/0.2.0).

[2018-09-14 18:11] maltsev commented on #21
Released: [0.2.0](https://github.com/posthtml/htmlnano/releases/tag/0.2.0).

[2018-09-14 18:30] dsinni commented on #62
Awesome! Thanks, @maltsev!

Was the issue specific to `visible`, or may other attributes have the same issue? If so, does this fix that as well?

Thanks again.

[2018-09-14 20:55] maltsev commented on #62
I checked the A-Frame docs and it seems that `visible` is the only attribute the module collapses. No there shouldn't be any other issues with this module.

[2018-09-14 21:15] dsinni commented on #62
Excellent! Thank you, sir.

When do you expect the new release will be available via npm?

[2018-09-14 21:18] dsinni commented on #62
Scratch that last comment. Got confused with Parcel for a second. Thanks for everything!

[2018-12-26 20:18] maltsev opened #68 "Minify default and invalid attribute values"
[code]

@fstanis, thanks for the idea!

[2018-12-26 22:08] fstanis commented on #68
Perhaps we can make the issue more generic? There may be other attributes with a similar behavior (I don't know of any, but probably worth looking into).

As for implementation, do you think that this should be a separate module (e.g. `simplifyAttributes`) or an extension to `collapseBooleanAttributes`?

[2018-12-27 12:55] fstanis commented on #68
Looking further into this, it seems this is covered by the spec in two forms:

- [*missing value default*](https://html.spec.whatwg.org/#missing-value-default), when the attribute has no value and defaults to something. This is the case with `<img crossorigin>` being the same as `<img crossorigin="anonymous">` because *missing value default* for `crossorigin` is `anonymous`. I think this is someth

[2018-12-27 14:00] fstanis commented on #36
How about using [uncss](https://github.com/uncss/uncss)?

It seems that, at least theoretically, we could add uncss to the `minifyCss` module with the help of `posthtml-render` (since uncss requires the html):

[code]

Thoughts on this?

[2018-12-27 14:17] fstanis opened #69 "Minify CSS class names and ids"
This can be done simply by calling [posthtml-uglify](https://github.com/Rebelmail/posthtml-uglify) inside `minifyCss`.

Bonus is that it can share the whitelist with uncss if we add uncss per #36.

[2018-12-27 19:48] maltsev commented on #68
Sure. I just renamed it.

I'm not sure, but perhaps the latter one is better. What do you think?

We might do that in [max preset](https://github.com/posthtml/htmlnano/blob/master/lib/presets/max.es6). We could also check if the PostHTML API allows notifying developers about those invalid values.

Thanks, Filip! I appreciate your help!

[2018-12-27 19:54] maltsev commented on #69
Good idea! I guess it might break some pages, so it's better to add it to [max preset](https://github.com/posthtml/htmlnano/blob/master/lib/presets/max.es6).

Does _posthtml-uglify_ take into account external styles? If not then we should do that on our side.

[2018-12-28 11:07] fstanis commented on #69
No, it only looks at `<style>` tags:

https://github.com/Rebelmail/posthtml-uglify/blob/fbf7a4ebf40481f092c060670ac8a5574421f05f/lib/plugin.js#L145-L154

How would that work? Wouldn't that mean that `htmlnano` would have to modify files outside the HTML?

[2018-12-31 11:03] maltsev commented on #69
I see a few possible ways:

- Ignore classes and IDs found in external CSS. Not sure how easy it'd be to parse them, though.
- Rewrite names in external CSS. It seems a bit out of _htmlnano's_ scope for me, though.
- Disable minification at all if external CSS is found.

In an ideal case, we could implement all 3 options and let users configure that themselves how they want this minification work.

[2019-01-03 11:49] fstanis commented on #57
I think I'll close this for now. It seems AMP support is in a good place now based on my testing - if we missed something, it's easy to reopen.

[2019-01-03 11:49] #57 closed

[2019-01-03 11:57] fstanis commented on #69
Ouch, completely forgot that this will break external stylesheets. That's a tricky problem to solve.

This seems like a good low-hanging fruit for a first version.

I'm also worried that [posthtml-uglify](https://github.com/Rebelmail/posthtml-uglify) seems unmaintained (at least based on PR / issue activity). Taking this into account, I'm now leaning more towards replicating similar functionality

[2019-01-03 21:07] maltsev commented on #69
I think it's totally fine to use it. We can always switch _htmlnano_ to a forked version if needed. We could also ask then if @Rebelmail are willing to transfer _posthtml-uglify_ to [posthtml](https://github.com/posthtml) namespace.

[2019-01-03 21:11] #36 closed

[2019-01-03 21:53] maltsev commented on #36
Thanks, @fstanis for implementing that! I released this module and your other fixes as [version 0.2.2](https://github.com/posthtml/htmlnano/releases/tag/0.2.2).

[2019-01-04 18:47] wooorm commented on #68
I did something similar here! https://github.com/rehypejs/rehype-minify/tree/master/packages/rehype-minify-enumerated-attribute

[2019-01-04 18:51] wooorm commented on #27
[Here’s what I settled for](https://github.com/syntax-tree/hast-util-to-html/blob/93a30492df8de8ec4ad25908737e0c4ce6437b0a/lib/element.js#L203-L228).

[2019-01-07 01:01] fstanis commented on #41
This might be fixable by simply specifying `minifyJs: { quote_style: 1 }`. I can't currently test, but writing this if someone else has some time.

[2019-01-11 17:08] robcalcroft opened #71 "<g> tag being stripped from inline SVG"
I'm using parcel, and when im parsing the following SVG htmlnano is stripping out the `<g>` tag when I do a minified production build, is this a bug or is there some extra SVG attributes I need to add to ensure htmlnano doesn't strip anything out.

[code]

It outputs

[code]

[2019-01-11 20:13] maltsev commented on #71
Thanks for submitting the issue, @robcalcroft!

Does the minified SVG look different from the original one (for some reason I see just a white screen in both cases)? If yes, then sure, it's a bug. Because by default _htmlnano_ shouldn't break anything.

I'm currently on vacation, so I can look into the issue only in a couple of weeks. So for now I suggest you check [SVGO documentation](https://git

[2019-01-11 21:04] robcalcroft commented on #71
@maltsev thanks very much for the response! The SVG itself is white so yes haha you'd have trouble viewing it 😄 Ok cool enjoy your holiday! I shall look at the SVGO docs.

[2019-01-16 20:43] anderskleve commented on #71
I'm having a similar issue with Parcel, where the viewbox attribute is being stripped from an inline SVG that resides inside a button element. However, I have two other SVG:s in the document that have their respective viewbox attributes preserved after minification.

[2019-01-16 21:04] anderskleve commented on #71
Ok, so I had a typo in my HTML - veiwbox instead of viewBox.

@robcalcroft Seems to be the collapseGroups plugin that removes the `<g>` tag, but I guess you probably found out already: https://github.com/svg/svgo/blob/master/plugins/collapseGroups.js

Guessing a bit here, but judging by this thread, something [like this](https://github.com/parcel-bundler/parcel/issues/429) might work for you:

Cre

[2019-01-17 10:41] robcalcroft commented on #71
@anderskleve thanks for the suggestion, unfortunately that still removed the `g` tags, so i've just used `minifySvg: false`

[2019-01-17 19:09] anderskleve commented on #71
Yeah, I tried it out yesterdayas well and it did not work. I think the config is ivalid though. Can't try it out at the moment, but this might actually work:

{
minifySvg: {
    plugins: [
        { cleanupIDs: false },
        { removeUnknownsAndDefaults: false},
    ]
}
}

[2019-01-22 20:45] maltsev commented on #71
@anderskleve, thanks for the suggestion! Yes, the code in your latest message should disable `<g>` stripping. I've added that example to [htmlnano docs](https://github.com/posthtml/htmlnano#minifysvg).

[2019-01-22 20:45] maltsev commented on #71
Right :-) I tried it with a black background, and although I see the white shape now, I don't see any differences between the original and minified version. Am I missing something?

[2019-01-27 20:48] robcalcroft commented on #71
The bit that was missing was a glow that I used, so I would be styling the svg with `filter: url(#glow)`

[2019-01-30 20:02] maltsev commented on #71
@robcalcroft I'm planning to fix that because I consider it as a bug. _htmlhano_ should never break the layout if used with _safe_ preset.

[2019-02-14 12:06] maltsev commented on #71
I released the fix: [0.2.3](https://github.com/posthtml/htmlnano/releases/tag/0.2.3)

[2019-02-14 12:06] #71 closed

[2019-04-25 10:09] snippetkid opened #72 "Inline scripts get reordered after minification"
Inline scripts in `<head>` are getting pushed to `<body>` after minification which apparently breaks the intended order. I am using parcel-bundler 1.12.2 with htmlnano 0.2.2

[2019-04-29 14:11] maltsev commented on #72
Can you please post an example, where such merge breaks the page? Since all scripts are merged in the same order as they're present on the page, it should break nothing, I guess.

[2019-04-29 14:11] maltsev commented on #72
To avoid such merge, I'd suggest adding the same class to all `<script>` in `<head>`, so they would be merged into the latest `<script>` tag in `<head>`.

Or just disable `mergeScripts` module.

[2019-05-28 09:22] SebastianNiemann opened #73 "Extending removeComments to keep only some custom comments"
Currently, the `removeComments` options allows to

1. keep all comments (using `false`)
1. remove all comments (using `'all'`)
1. remove all except the conditional ones and `` (using `'safe'`)

This works great for classic/standard projects, but is problematic in more advanced use cases, where some special comments are used in another framework to extend the HTML file later one. In these situation

[2019-06-03 23:32] sqrter opened #74 "Upgrade to "uncss": "^0.17.0""

[2019-06-04 11:22] maltsev opened #75 "Using custom rules in modules"
In #73 @SebastianNiemann suggested extending _removeComments_ module to support custom filter rules.

It made me think if such custom rules could come in handy in other modules. For example, to pass additional attributes or complex rules to [removeRedundantAttributes module](https://github.com/posthtml/htmlnano#removeredundantattributes). In that case, I think we'd be better off creating some gene

[2019-06-04 11:22] maltsev commented on #73
Thanks for the suggestion! It totally makes sense.

It also made me think if such custom rules could come in handy in other modules. I created #75 for discussing that. I'd be happy to hear your thoughts about that.

[2019-06-04 11:24] maltsev commented on #74
Usually, I update all dependencies right before releasing a new version.

Does _uncss 0.17.0_ have some new features that worth releasing a new version earlier? If so, can you please re-open this issue post them here?

[2019-06-04 11:24] #74 closed

[2019-06-04 13:57] sqrter commented on #74
Hi @maltsev, thank's for the quick response! I'm using htmlnano along with its "removeUnusedCss" module and it's really awesome. However, in my case, I must tell uncss to not process external scripts in my html. The latest uncss allows passing the needed option to jsdom that is used behind the scenes.

You can have a look at the release notes of uncss here https://github.com/uncss/uncss/releases/t

[2019-06-05 09:22] maltsev commented on #74
No need :-) I just updated this and other dependencies.

Great! Then I will not release a new version just with these changes.

[2019-06-09 21:17] SebastianNiemann commented on #75
I think whenever a rule is implemented with any assumption about the actual DOM (or keywords as in #73) in mind, a custom filter would be useful to support DOM extensions (like MathML) or additional keywords.

At best, it would not only allow to extend the current assumptions (like adding further list-like attributes to `collapseAttributeWhitespace`), but also to replace them if needed.

Looking t

[2019-06-17 08:11] maltsev commented on #75
Thanks for posting your ideas!

No, not yet. But I'll definitely think about it.

[2019-07-01 19:30] yw662 opened #76 "some <rect> get trimmed in inline SVG"
The inline svg is:
[code]
the <rect> in the first line is trimmed by htmlnano.

output:
[code]

[2019-07-01 19:40] yw662 commented on #76
So it technically is not trimmed, by translated from `<rect>` into `<path>`.

However, this does break thing.

[2019-07-01 19:44] yw662 opened #77 "`id` attribute of `AnimateTransform` and `AnimateMotion` in inline svg being trimmed"
[code]

and output:

[code]

[2019-07-02 08:25] maltsev commented on #76
Thanks for posting this issue! I’ll look into it.

[2019-07-04 12:19] maltsev commented on #76
Fixed.

[2019-07-04 12:19] #76 closed

[2019-07-04 12:23] maltsev commented on #77
Unfortunately, I couldn't reproduce it. Can you test it again with [the latest version](https://github.com/posthtml/htmlnano/commit/HEAD) from the master branch? The latest changes shouldn't be related to this bug, though.

If htmlnano would still trim `id`, then could you send me your full code?

[2019-07-10 14:31] Oloompa commented on #68
How to disable this behavior ?

I need to keep the attribute `crossorigin="use-credentials"` in my html for my manifest file :
[code]

Without it, it's download fail for website behind credentials, even if file is in same origin.

[see mdn](https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_settings_attributes#Example_Webmanifest_with_credentials)

[2019-07-10 15:08] fstanis commented on #68
1.  I don't think this project has this behavior (yet)?

2.  If it did, it wouldn't remove `crossorigin="use-credentials"`, it would only replace `crossorigin="anonymous"` with `crossorigin`.

[2019-07-10 15:20] Oloompa commented on #68
We use parcel. HTML optimisation is handled by posthtml and current behavior replace `crossorigin="use-credentials"` with `crossorigin`

[2019-07-10 15:24] Oloompa commented on #68
#https://github.com/parcel-bundler/parcel/issues/2354
#https://github.com/posthtml/posthtml/issues/280

[2019-07-10 15:57] Oloompa commented on #68
Well it's strange but adding `"collapseBooleanAttributes": false` to `.htmlnanorc` solved my issue.

I don't think `crossorigin` is a boolean attribute.

I will open  new issue.

[2019-07-10 16:00] Oloompa opened #78 "remove crossorigin from boolean attribute list"
[code]

is converted by htmlnano in
[code]

Adding `"collapseBooleanAttributes": false` to `.htmlnanorc` solved my issue.

But `crossorigin` is not a boolean attribute.

`crossorigin="use-credentials"` is required for website behind credentials, even if file is in same origin.

source: https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_settings_attributes#Example_Webmanifest_with_credentials

[2019-07-10 16:02] Oloompa commented on #68
#https://github.com/posthtml/htmlnano/issues/78

[2019-07-10 16:19] fstanis commented on #68
Ugh, you're right. Created #79 to fix.

[2019-07-11 10:05] #78 closed

[2019-07-11 10:24] maltsev commented on #78
I published @fstanis fix as the version [0.2.4](https://github.com/posthtml/htmlnano/releases/tag/0.2.4).

[2019-09-02 07:53] lovetingyuan opened #80 "mergeScripts true is safe?? Sorry, I do not think so."
As everyone knows, the order of scripts is important, so I do not think setting `mergeScripts` true is "safe".
eg:
[code]
after minify, `script-need-foo-variable.js` will be broken.
see https://github.com/posthtml/htmlnano/blob/6bb711a0eaf3cbd3f06e0eadfa45272f1cb4139f/lib/presets/safe.es6#L12

[2019-09-02 17:32] maltsev commented on #80
Thanks! I fixed it.

[2019-09-02 17:32] #80 closed

[2019-11-09 14:39] maltsev commented on #80
I released this fix in the new version [0.2.5](https://github.com/posthtml/htmlnano/releases/tag/0.2.5).

[2020-02-21 19:32] kevincox commented on #27
I wouldn't be surprised if this actually raised the gzip size on average. Unless you have a large number of strings with only one type of quote consistently probably gives you the smallest result after compression.

[2020-02-21 19:32] kevincox commented on #6
I've opened https://github.com/posthtml/posthtml-render/pull/30 which should make this simple to solve.

[2020-02-24 09:28] maltsev commented on #27
@kevincox very good point! We should test that before starting to implement that minification.

[2020-02-24 09:31] maltsev commented on #6
Thanks, @kevincox! Now we should just wait until a new version of `posthtml-render` would be released.

[2020-02-24 09:44] kevincox commented on #6
FWIW it probably just makes sense to add a passthrough for render options. Then people can set existing options now and the new option once it is released.

See https://github.com/parcel-bundler/parcel/pull/4212 for example.

Even if you want to set this option by default it will be safely ignored on old versions of posthtml-render.

TL;DR no need to wait.

[2020-03-01 20:56] maltsev commented on #6
Right. Thanks for the advice! I've added that: [fdfa0246](https://github.com/posthtml/htmlnano/commit/fdfa02465f37e72958f482f3976bd36ce0afef49).

[2020-03-01 20:56] maltsev commented on #6
I guess we couldn't fully implement remove attribute quote minification since we have no control over posthtml-render when htmlnano is run as a PostHTML plugin. In that case, `quoteAllAttributes` attribute should be set by the developer themselves:

[code]

I'll keep this issue open, maybe we'll find a better solution.

[2020-06-11 17:49] MathGeniusJodie opened #86 "Sorting attributes and classes for better gzipping"
right now I'm using "posthtml-attrs-sorter", considering making my own plugin for class names, figured it should probably be rolled into a minifier, the difference is pretty substantial, about 1-2% smaller in my testing

[2020-06-12 16:39] maltsev commented on #86
That'd be awesome!

Yes, I think it's better to implement it as `htmlnano` module, so it can sort all things (e.g., attributes, class names, meta tags, etc).

[2020-07-14 20:17] frederikhors opened #87 "The most honest benchmarks in the world?"
Did I get it wrong or in the Readme it says that [html-minifier](https://www.npmjs.com/package/html-minifier) is better than this (htmlnano)?

![image](https://user-images.githubusercontent.com/41120635/87472029-92f46f00-c61f-11ea-9156-b1ead8a55b47.png)

[2020-07-15 07:56] maltsev commented on #87
Yes, that's right. I want to make an honest comparison so developers could choose the right tool based on their requirements. Also, this serves as a goal of how much htmlnano could be improved.

These benchmarks were quite outdated. I updated them:

![image](https://user-images.githubusercontent.com/923973/87518838-7260ff00-c689-11ea-825a-6e999473e3a3.png)

[2020-07-15 07:56] #87 closed

[2020-07-21 05:19] cyqsimon opened #88 "CDATA in SVG script causing trouble"
<s>The version of `svgo` used by `htmlnano` has issues with parsing script tags.</s>
When using both `minifyJS`, and `minifySvg`, there's an issue with parsing `script` tags inside `svg` tags.
Specifically, ```CDATA``` declaration is removed when it is necessary:
[code]
is parsed into:
[code]
<hr>

This causes SVGs like this to fail validation:
[code]
with the error:
[code]
<hr>

This is not an is

[2020-07-21 05:23] cyqsimon commented on #88
It is also possible that `htmlnano` removed `CDATA` before invoking `svgo`. However I cannot be certain of this without reading your code.

[2020-07-21 06:51] cyqsimon commented on #88
Update: I think I found the issue. It actually has nothing to do with svgo.
`minifyJs` is invoked before `minifySvg`, but `minifyJS` seems to look inside `svg` tags for `script` tags as well. So it is actually `minifyJs` that's removing `CDATA`, thereby causing `minifySvg` to throw.

A potential solution is to exclude `svg` tags from the application scope of `minifyJs` module, if that's possible.

[2020-07-21 16:34] maltsev commented on #88
Thanks for the detailed info! I'll look into it in the following days.

[2020-07-25 10:34] maltsev commented on #88
For now, I've found no better solution than check for `//<![CDATA[ //]]` and then add it manually after the JS minification.

@Scrum if I have a node (e.g., `<script>`) is it possible to detect if one of its ancestors is `<svg>`?

[2020-07-27 07:18] Scrum commented on #88
@maltsev Hi, from the options I can suggest making a [match](https://posthtml.org/#/api?id=treematchexpression-cb-%e2%87%92-function) for the `svg` element and in this match make a match on `script`

[2020-07-27 08:55] cyqsimon commented on #88
It might be a good idea to check for namespace switching instead of hard-coding for `svg` only.

I'm thinking of the possibility of some other element using a strict XML syntax for its internal DOM just like SVG, although I cannot come up with a concrete example at the moment.

[2020-08-08 07:25] maltsev commented on #77
I'm closing this issue. Feel free to re-open it if you still have this bug.

[2020-08-08 07:25] #77 closed

[2020-08-08 07:26] maltsev commented on #72
I'm closing this issue. Feel free to re-open it if you still have this bug.

[2020-08-08 07:26] #72 closed

[2020-08-24 16:44] spacedawwwg opened #92 "mergeScripts skip block?"
Is there a way to use mergeScripts but skip a block?

use case: I have a `<script>` in the head that needs to be in the head, but the rest of the script blocks can be merged

some kind of flag on the tag would be good maybe?

[2020-08-29 06:11] maltsev commented on #92
Sure. Just add some different class to it:

[code]

would get minified to

[code]

Let me know if this works for your use-case!

[2020-08-29 06:11] #92 closed

[2020-10-10 16:42] SukkaW commented on #11
Instead of having a built-in template list, what about implementing the feature like this:

[code]

or this:

[code]

[2020-10-10 16:49] SukkaW commented on #86
@MathGeniusJodie Sorting based on alphabetical order has been implemented in #95 and supposed to be landed in the new version.

Sorting based on frequency will be implemented in the future (probably by me as well).

[2020-10-11 02:47] SukkaW commented on #29
@maltsev considering the feature will result in invalid HTML, will posthtml be compatible with it?

[2020-10-11 07:17] maltsev commented on #11
Looks good to me!

I think it's still good if we provide some built-in template list with an option to replace it or provide additional rules.

[2020-10-11 07:19] #10 closed

[2020-10-11 07:31] maltsev opened #99 "PostHTML limitations for HTML minifying"
In #29 @SukkaW asked whether it's possible to remove closing tags in PostHTML since it'd produce an invalid HTML. Although I don't know the answer to that particular question, it raises a more important question.

PostHTML provides a very useful API and helps a lot in HTML processing, but we'll get to the point when not all minifications could be implemented due to its limitations (e.g., how it pr

[2020-10-11 07:31] maltsev commented on #29
I'm not sure. We should test it.

On a more general note, it raises a more important question about PostHTML limitations. I created #99 for discussing that.

[2020-10-11 09:18] SukkaW commented on #99
PostHTML is kind of an AST parser and manipulator. Basically, it receives HTML string, converts into an AST tree (which will be processed by PostHTML plugins), then PostHTML will re-build HTML string based on processed AST tree. Since PostHTML plugins like htmlnano can't have access to `re-build HTML string based on processed AST tree`, that means there is really nothing we can do on plugin side.

[2020-10-12 04:54] SukkaW commented on #99
It would be helpful if PostHTML provides a way for plugins to control `posthtml-render`.

For example, for #6, if a user doesn't configure `quoteAllAttributes` at PostHTML side while enabling `removeOptioinalQuotes` at htmlnano side, htmlnano should be able to override `quoteAllAttributes`.

[2020-10-12 09:37] SukkaW opened #103 "Plans to refactor "collapseWhitespace" module"
I am very interested in why htmlnano gets minify rate lower than html-minifier. I have run the latest benchmark (based on the release version of html-minifier & `master` branch of htmlnano):

| Website | Source (KB) | [html-minifier] | [htmlnano] |
|---------|------------:|----------------:|-----------:|
| [stackoverflow.blog](https://stackoverflow.blog/) | 82 | 73 | 71 |
| [github.com](https://gi

[2020-10-12 09:40] SukkaW commented on #99
https://github.com/posthtml/posthtml/issues/335

An issue has been opened at PostHTML, to see if PostHTML Team willing to implement an API for plugins to control the behavior of posthtml-render.

[2020-10-12 13:00] SukkaW commented on #6
@maltsev Here is what I found:

First of all, when is it about to transform the AST tree back to HTML string, `tree.options` was passed to `posthtml-render`:

[code]

So what will happen when `posthtml-render` meets the option?

[code]

Guess what? `quoteAllAttributes` will **only** be `true` if it is not presented in `tree.options`.

We can easily modify `tree.options` within a module. I will bri

[2020-10-13 05:58] #6 closed

[2020-10-17 12:46] spacedawwwg opened #109 "Upgrade to PurgeCSS v4"
![image](https://media1.tenor.com/images/e81e487a73e35012dab4376a5f6fa98f/tenor.gif?itemid=5636183)

This would technically be a breaking change due to the change in config (e.g 'whitelisting')

[2020-10-18 07:07] maltsev commented on #109
Right. I already tried to upgrade it but then the htmlnano API would require a breaking change or a middleware for converting PurgeCSS 2 options to PurgeCSS 3. So I think it's better to just wait until we introduce some other breaking changes in htmlnano so we can release them altogether as the next major version.

[2020-10-20 16:06] SukkaW commented on #37
The HTML standard for `meta[http-quiv="refresh"]`: https://html.spec.whatwg.org/multipage/semantics.html#attr-meta-http-equiv-refresh

[2020-10-24 06:20] #86 closed

[2020-11-06 14:14] SukkaW commented on #38
IMHO, the issue could be closed by now.

Strip spaces between image candidates will result in a **definitely invalid** srcset and might not be tolerated by browsers, while minify srcset with `minifyURLs` has been implemented in #117.

[2020-11-07 08:38] #38 closed

[2020-11-09 09:37] SukkaW commented on #63
Instead of `.htmlnanorc`, I prefer the following formats:

- '.htmlnanorc.cjs',
- '.htmlnanorc.js',
- '.htmlnanorc.yaml',
- '.htmlnanorc.yml',
- '.htmlnanorc.jsonc',
- '.htmlnanorc.json'

I'd like to port the feature from `mochajs`:

https://github.com/mochajs/mocha/blob/1a4646dd2f7b35010c2488edcb2d5f4cfb2f14a8/lib/cli/config.js

[2020-11-09 09:47] SukkaW commented on #16
It is a bit hard to implement the feature. posthtml parse conditional comments as normal comments (which will be interpreted as `string`, not a `tree`). See also https://github.com/posthtml/posthtml-parser/issues/9

[2020-11-09 16:40] maltsev commented on #16
What if after initial parsing we strip the conditional comment tags and parse the conditional comment content again with PostHTML? Then we could apply all modifications again.

[2020-11-09 16:51] SukkaW commented on #16
Then we will have to deal with unfulfilled Promise inside the posthtml tree. `tree.walk` and `tree.match` is not designed to be work with Promise in the first place.

[2020-11-12 18:43] #16 closed

[2020-11-16 19:23] #88 closed

[2020-11-18 03:15] SukkaW commented on #41
@maltsev

The quote style is determined by `posthtml-render`'s option.

It is possible for htmlnano to override `terser`'s `quote_style` based on `posthtml`'s option.

[2020-11-24 03:56] SukkaW commented on #103
After #106, #112, #116, #120, and #121, I believe it is ok to close the issue now.

[2020-11-24 03:56] #103 closed

[2020-11-25 20:27] SukkaW commented on #27
The feature has been implemented in https://github.com/posthtml/posthtml-render/pull/47 so the issue could be closed now.

[2020-11-25 20:35] SukkaW commented on #15
Since both https://github.com/maltsev/htmlnano/issues/16 and https://github.com/maltsev/htmlnano/issues/17 has been fixed, IMHO it is ok to close the issue now.

[2020-11-26 15:04] #27 closed

[2020-11-26 15:04] #15 closed

[2020-12-09 13:11] SukkaW opened #127 "[Proposal] Faster htmlnano"
htmlnano is already very fast (I could process more than 300 HTML files in less than 13 seconds). But It is possible to make it even faster. By now every module of htmlnano will iterate the `tree`, by traverse through `tree` once for most of the modules we could improve the performance.

[2020-12-14 17:27] surma opened #129 "<input> in <foreingObject> causes error"
[code]

Yields:
[code]

[2020-12-14 18:34] SukkaW commented on #129
The Error is likely thrown by svgo. However, the issue seems to be related with #124.

I will implement a fix for it.

[2020-12-23 08:14] #129 closed

[2021-01-09 16:29] maltsev opened #131 "webpack plugin"
It'd be nice to have an easy way to use htmlnano with webpack. I have never worked with webpack, so I'm not sure what is the best way to use htmlnano with it.

Maybe look at [posthtml-loader](https://github.com/posthtml/posthtml-loader)?

[2021-01-09 16:30] maltsev opened #132 "rollup plugin"
It'd be nice to have an easy way to use htmlnano with rollup. I have never really worked with rollup, so I'm not sure what is the best way to use htmlnano with it.

Maybe look at [rollup-plugin-posthtml](https://github.com/posthtml/rollup-plugin-posthtml)?

[2021-02-10 20:05] folknor commented on #109
Just a FYI that PurgeCSS 4 is out, since the issue title mentions "v3".

[2021-04-05 22:58] frederikhors opened #134 "Is there a way to minimize `script type="module"` part of an html?"
I have an .html file which contains this code:

[code]

posthtml with htmlnano does a good job for the html, but NOT for this `script type="module"` part.

Is there a way to minimize this?

[2021-04-08 16:00] maltsev opened #136 "Upgrade to SVGO 2"
SVGO 2+ has [a new config format](https://github.com/svg/svgo/releases/tag/v2.0.0). So upgrading it would require to do a major release of `htmlnano` as very likely the old SVGO config format won't work with SVGO.

[2021-04-08 16:11] maltsev commented on #134
Thanks for @Scrum and his PR #135 now there is :-)

I'll release the new version of `htmlnano`. over the weekend.

[2021-04-08 16:11] #134 closed

[2021-04-08 20:43] frederikhors commented on #134
Why not immediately? :)

[2021-04-09 06:02] maltsev commented on #134
It takes some time to prepare a release.

[2021-04-11 01:27] jake-low opened #137 "Bug: `removeComments` also deletes any text content that follows the comment"
Found in version 0.2.8 (latest).

When using the `removeComments` feature, text content which follows a comment is also deleted. Text which precedes a comment is unaffected.

Input:
[code]

Processor:
[code]

Expected output:
[code]

Output:
[code]

Text content which followed a comment is missing from the output above. (Note: the `\n` chars preceding the closing `</div>` tags are also missing, wh

[2021-04-11 07:25] maltsev commented on #137
Thanks for the report! Can you please ping me once your fix would be released? I'll try to issue a new `htmlnano` release ASAP then.

[2021-04-11 07:57] maltsev commented on #134
I released the new version 0.2.9.

[2021-04-11 18:24] pioug commented on #109
@maltsev What about a major release including svgo 2 and purgecss 4 together? Would it be enough breaking changes? If so, I can make a PR to update svgo.

[2021-04-11 20:51] jake-low commented on #137
Sure, I can do that. :+1:

[2021-04-12 17:51] maltsev commented on #109
I don't know. I totally agree that it's good to have dependencies up to date, but releasing a major version just for that, seems like overkill. I doubt, SVGO@2 and PurgeCSS@4 contain significant improvements that would bring value to developers compared to the time they spend upgrading their SVGO and PurgeCSS configs.

[2021-04-12 18:10] folknor commented on #109
PurgeCSS@4 uses PostCSS@8, which has much better sourcemap and typescript support.

In any case I don't understand your argument in the context of the world we live in, where semver exists and is ubiquitous. People who want to upgrade will, and people who don't want to upgrade wont.

[2021-04-12 19:25] pioug commented on #109
The reason I want to update is because my projects have a mix of PostCSS 7 & 8 right now. I would appreciate to have more common reused dependencies in my `node_modules`.

I still see value for new developers. It's much nicer to deal with updated dependencies. For example, it's not fun to dig into the documentation of older versions, or realize that the features I read about is not available. It's

[2021-04-13 16:42] maltsev commented on #109
Yes, you're right. That changed my mind :-) I'll do the release over the weekend.

npm won't update 0.x → 0.(x+1) automatically. So in both cases (whether we release 0.3.0 or 1.0.0) a manual upgrade would be required. And I think `htmlnano` is ready to be 1.0.0 :-)

[2021-04-13 17:02] pioug commented on #109
@maltsev Thank you so much for your understanding! I gave $5 to PostHTML on Open Collective as a token of appreciation 😄

[2021-04-17 07:09] maltsev commented on #136
Done in #140.

[2021-04-17 07:09] #136 closed

[2021-04-17 07:09] maltsev commented on #109
Done in #138.

[2021-04-17 07:09] #109 closed

[2021-04-26 09:54] polarathene commented on #63
You can use [CosmicConfig](https://github.com/davidtheclark/cosmiconfig) as a popular approach for pulling config from a file which supports various formats.

[2021-04-27 01:39] polarathene commented on #69
You may also want to consider [`posthtml-minify-classnames`](https://github.com/posthtml/posthtml-minify-classnames/issues/1) which still receives maintenance and has a few more improvements over `posthtml-uglify`?

[2021-06-04 08:10] devinus opened #141 "Broken on latest posthtml (0.16+)"
Verified in several projects using htmlnano as a posthtml plugin.

[2021-06-04 08:11] devinus commented on #141
To provide more information: No errors are thrown, but htmlnano just returns an empty document with only a doctype decl.

[2021-06-04 19:31] SukkaW commented on #141
A demo would be very appreciated. Would you mind providing a minimal reproduction?

[2021-06-05 08:37] maltsev commented on #141
Here is the example:

[code]

It works with `posthtml@0.15.2` but not with `posthtml@0.16.0`. I'm investigating this issue.

[2021-06-05 09:03] maltsev commented on #141
As you can see in [the CI report](https://travis-ci.org/github/posthtml/htmlnano/jobs/773589337), it returns an empty string only for some modules. I don't think it's related to `posthtml` upgrade itself (since basically nothing has been changed between [0.15.2...0.16.0](https://github.com/posthtml/posthtml/compare/v0.15.2...v0.16.0)), but to either `posthtml-parser` or `posthtml-render` upgrade.

[2021-07-02 14:09] maltsev commented on #3
We need an easy way to support all modules' config options. To not specify them manually in the code, I guess, we could just convert CLI options to an options object. For example:

[code]

is converted to the following options

[code]

[2021-07-02 14:10] maltsev commented on #3
Also, the CLI should support #63

[2021-07-02 14:18] maltsev opened #143 "Better docs navigation"
All docs are stored in one `README.md` which makes navigation tricky. It'd become even worse once we implement different interfaces (e.g., webpack, rollup, CLI).

Possible solutions:

- Generate a table of contents and append it to `README.md`
- Use Github wiki
- Use Github pages (+ Jekyll?)

Also, it'd be good if the docs for the currently published version of `htmlnano` are shown by default (not

[2021-07-02 14:20] maltsev opened #144 "Logotype"
It'd be nice if `htmlnano` gets its own logotype :-)

Any designers willing to do it?

[2021-07-05 12:34] maltsev commented on #63
Implemented in 2c03b10d2dfd606c828f66a07ccfb29871afae1c (forgot to add the issue number there).

[2021-07-05 12:34] #63 closed

[2021-07-13 15:29] thewilkybarkid opened #145 "Redundant whitespace not removed"
When using `collapseWhitespace: aggressive`, the following remains unchanged:

[code]

The space inside the `<a>` can be removed as it collapses into the one outside.

[2021-07-22 09:44] maltsev commented on #143
I decided to use docusaurus + Netlify. @Scrum can you please approve Netlify access to the posthtml org?

[2021-07-22 10:20] Scrum commented on #143
done

[2021-07-22 12:07] maltsev commented on #143
Done: https://htmlnano.netlify.app

[2021-07-22 12:08] maltsev commented on #143
@Scrum can you please set it as the repo website?

[2021-07-22 12:09] maltsev opened #147 "Add search to docs"
See https://docusaurus.io/docs/search

[2021-07-22 12:11] Scrum commented on #143
done

[2021-07-22 12:18] #143 closed

[2021-07-23 14:10] folknor opened #148 "Inline SVG symbols and users nuked"
See https://github.com/parcel-bundler/parcel/issues/6629, there's no new information in this ticket description that isn't covered there.

[code]

htmlnano without using `minifySvg: false` will
1. Reduce the first SVG element in the sample to `<svg xmlns="http://www.w3.org/2000/svg" />`
2. Remove the second SVG element completely

@mischnic provided a pure node example in the linked ticket:
[code]

[2021-08-01 10:21] vincentsum777 opened #149 "Is it possible to remove the vulnerabilities introduced by postcss ?"
Hi, @maltsev @SukkaW,
### Issue Description
I noticed that **_htmlnano@0.2.9_** transitively depends on **postcss@7.0.32**. However, vulnerability [**CVE-2021-23382**](https://snyk.io/vuln/SNYK-JS-POSTCSS-1255640) and [**CVE-2021-23368**](https://snyk.io/vuln/SNYK-JS-POSTCSS-1090595) are detected in package **postcss@7.0.32**.
   As far as I aware,  **htmlnano@0.2.9** is so popular that a large nu

[2021-08-03 16:14] maltsev commented on #148
Sorry for the late reply! I was on vacation.

I found a similar issue: https://github.com/svg/svgo/issues/416#issuecomment-134349537 The proposed solution is to disable `removeUselessDefs` plugin.

I tried it locally and it seems to work. Can you please confirm that you get the expected result? Then I could disable this plugin in the htmlnano preset.

Here is the code I used:

[code]

[2021-08-03 16:17] maltsev commented on #149
In general, I like your solution and this is something we can do.

But we can't use purgecss@3 in htmlnano@0.2.* because of the breaking changes in the 3rd version. That was actually the reason we released htmlnano@1.0.0. You can read more about that in https://github.com/posthtml/htmlnano/issues/109

Do you have any other ideas on how this can be solved?

[2021-08-04 10:12] vincentsum777 commented on #149
@maltsev Thanks for your feedback and explanation.

[2021-08-08 13:04] folknor commented on #148
No, unfortunately. When I modify `.htmlnanorc` like so;
[code]
OR like this:
[code]

This part of the HTML is still removed:
[code]

And I'm 100% certain that `.htmlnanorc` is parsed into the config used by `parcel`, because without `removeUselessDefs` everything is nuked. And if I put this in it
[code]

Everything is kept.

[2021-08-21 09:10] maltsev commented on #149
I'll close this issue for now as I don't see a good solution to the problem. Feel free to re-open it.

[2021-08-21 09:10] #149 closed

[2021-08-21 09:37] maltsev commented on #148
The bug has been fixed in https://github.com/parcel-bundler/parcel/commit/f3a51dd9dba38f87353d28dbbe1c8bddf504707b and released in `v2.0.0-rc.0` version.

[2021-08-21 09:37] #148 closed

[2021-08-21 10:38] maltsev commented on #147
For some reason, the build always fails on Netlify with the following error:

[code]

I haven't figured yet why it happens. So the search isn't working yet on https://htmlnano.netlify.app/

[2021-08-22 08:23] maltsev commented on #147
I managed to fix that issue. The reason behind that was the undefined `favicon` field. So I had to set it to some non-undefined and non-empty value (although, I have no favicon yet).

[2021-08-22 08:26] maltsev commented on #147
Now the search isn't working because `contextualSearch: true` is set. Without it, it'd return duplicate results from different versions. I'll contact the support to try to solve that.

[2021-08-22 20:09] maltsev commented on #147
Now it works. I just had to wait until Algolia refetches the docs again.

[2021-08-22 20:09] #147 closed

[2021-08-23 13:42] frederikhors opened #150 ""extendDefaultPlugins" utility is deprecated"
I'm getting this message in console:

[code]

Can we fix this?

[2021-08-23 14:14] mischnic commented on #150
This can be fixed by changing

https://github.com/posthtml/htmlnano/blob/3c8ccc8bc0d4af4aa17aac939e1baa10dcc5e0b7/lib/presets/safe.es6#L24

into what the error message suggests and bumping the svgo dependency to `^2.4.0` where this preset was introduced: https://github.com/svg/svgo/releases/tag/v2.4.0

Bumping the dependency would also benefit projects downstream: https://github.com/parcel-bundler

[2021-08-23 14:15] frederikhors commented on #150
Can you PR?

[2021-08-25 08:45] NovaAtWarren opened #152 "[Proposal] Replace UnCSS with fork"
I've created a fork of UnCSS to try and update some of the insecure dependencies, and to merge some PRs, as the original collaborators seem to not be performing said task.
As UnCSS (the version referenced by package.json) is unmaintained, and my fork is maintained, it may be a good idea to switch to decrease dependency on outdated packages.
I can make a PR if you desire.

[2021-09-04 07:11] maltsev commented on #152
@NovaAtWarren I appreciate that you forked uncss and upgraded it! But let me be honest with you, I'm hesitant to replace the original uncss with a forked version that is not actively used by other people and which future is also unclear (e.g., will it be maintained in the future, etc).

I'm not that familiar with the advanced features of npm, but maybe there is a way to replace uncss with your for

[2021-09-06 07:17] NovaAtWarren commented on #152
I can understand your hesitation entirely.
In this case, maybe a .patch and a small section in the readme, stating what it updates and why you might like it?

[2021-09-07 06:45] maltsev commented on #152
Sure. Sounds good to me! Would you provide it, please?

Sorry, I'm not quite sure how this would work. But, I think, it also sounds good to me!

[2021-09-08 06:59] NovaAtWarren commented on #152
Sorry if I implied you'd make the patch, I do intend on writing it myself.

What I was thinking with that was making a new branch on this repo, and applying the patch to that branch. Uploading that branch to NPM whenever `package.json` > `version` is updated or pushing manually, and having me make PRs from main to the branch to keep it updated.
Now that I've slept on it, though, I'm not _as_ sure

[2021-09-09 19:54] #152 closed

[2021-09-09 19:54] maltsev commented on #152
Thanks a lot!

[2021-09-11 07:35] maltsev commented on #150
I released this patch.

[2021-09-11 07:35] #150 closed

[2021-09-13 14:17] SoftCreatR commented on #73
Any progress here? Because I could need this for Server-Side SSI, which is currently being stripped out.

[2021-09-13 18:39] SukkaW commented on #73
@SoftCreatR I can create a PR implementing the feature.

[2021-09-13 18:53] SoftCreatR commented on #73
That would be 👍

[2021-09-14 13:55] SukkaW commented on #145
@thewilkybarkid

The current implementation is both spaces around `<a>` and spaces inside `</a>` should be retained, thus causing redundancy.

I am refactoring the module to avoid this edge case.

[2021-09-15 04:15] SukkaW commented on #137
The issue should be solved now, as the upstream already merged the PR and has released a newer version.

[2021-09-15 17:30] #145 closed

[2021-09-25 04:27] SoftCreatR commented on #73
Just FYI: It works absolutely fine (at least for me and my special case).

[2021-10-08 22:48] devongovett opened #165 "Remove uncss?"
It seems pretty much unmaintained, and purgecss is already supported as an alternative. Currently, the dependency on uncss causes a bunch of deprecated packages to be installed via a very old JSDOM dependency, including request, request-promise-native, and har-validator. These show up during an npm install of htmlnano or any other tool using htmlnano (like Parcel).

[2021-11-21 06:47] SukkaW commented on #165
@maltsev

What about making them peer dependencies? Anyone who wants to use will have to install it by him/herself.

[2021-11-21 12:54] maltsev commented on #165
Yes, that's a great idea! I'm not 100% sure it'd work seamlessly though. It'd be awesome if someone could create a PR with that :-)

[2021-11-21 19:25] maltsev commented on #165
Fixed in #168.

[2021-11-21 19:25] #165 closed

[2022-01-11 23:32] devongovett commented on #165
This is now causing a security issue for all downstream dependencies of htmlnano due to an old version of postcss. See https://github.com/advisories/GHSA-566m-qj78-rww5. Any chance this could be released?

[2022-01-12 10:59] maltsev commented on #165
Sure. I'll do it this evening.

[2022-01-12 14:49] maltsev commented on #165
Done: https://www.npmjs.com/package/htmlnano/v/2.0.0

[2022-01-14 20:59] folknor commented on #165
But uncss is still used in `lib/modules/removeUnusedCss.es6`? What is it I don't understand?
It's also listed in package.json and my build system is still complaining about uncss 0.17.3 depending on old, unmaintainted, unsupported, and explicitly deprecated package versions.

[2022-02-15 10:07] frederikhors opened #175 "Can we switch off the warning if I'm not using `minifyJs`, please?"
In my console I'm having this warning:

`You have to install "terser" in order to use htmlnano's "minifyJs" module`.

I'm not using `minifyJs`. I'm only using htmlnano like this:

[code]

Can we switch off the warning if I'm not using `minifyJs`, please?

[2022-02-20 11:01] maltsev commented on #175
By default, `htmlnano` loads with the `safe` preset which has `minifyJs` enabled. You can disable it if you don't need it:

[code]

[2022-02-20 11:01] #175 closed

[2022-04-01 16:03] mischnic opened #180 "Bug: `sortAttributesWithLists` breaks `<img sizes="(min-width: 300px) 200px, 100px">`"
[code]

Wrong Output with `sortAttributesWithLists` enabled: `<img sizes="(min-width: 100px 200px, 300px)">`
Output with `sortAttributesWithLists` disabled: `<img sizes="(min-width: 300px) 200px, 100px">`

[2022-04-02 06:49] #180 closed

[2022-04-04 17:40] #127 closed

[2022-04-04 20:18] AndrewKvalheim opened #182 "Crash with JSON-LD data"
htmlnano 2.0.1 crashes when processing JSON-LD data:

[code]

I’ve used empty data here for brevity but this also happens with ordinary Schema.org content.

[2022-04-05 19:10] mischnic commented on #182
Also appears to happen with SVG: https://github.com/parcel-bundler/parcel/issues/7906

[2022-04-05 19:35] maltsev commented on #182
Sorry about the bug!

I deprecated this new version. Please use 2.0.0 for the time being until the bug is fixed.

@SukkaW is it something you can fix?

[2022-04-05 21:25] SukkaW commented on #182
I will work on it ASAP. Don't know why the change passes our unit tests though.

[2022-04-06 06:35] #182 closed

[2022-04-08 06:41] #131 closed

[2022-04-10 12:50] #68 closed

[2022-04-24 05:15] nitin2953 opened #189 "🛑 `sortAttributes: "frequency"` REMOVING `required`"
[code]
⏬
[code]

`"alphabetical"` is working fine

[2022-04-27 06:40] #189 closed

[2022-05-23 09:40] SirkoS opened #197 "named HTML entities in inline-SVG cause errors"
This is a copy of an [issue I filed with parcel](https://github.com/parcel-bundler/parcel/issues/8124). There I was told to bring it up here as well as it seems to be rooted in htmlnano. I did not (yet) further investigate and produce a MWE with just htmlnano, but I guess the example HTML should already be rather straight forward.

# 🐛 bug report

When running parcel on an HTML document with an em

[2022-05-23 10:39] mischnic commented on #197
Reproduction:
[code]
[code]

[2022-05-25 15:05] #197 closed

[2022-07-19 14:52] metonym opened #201 "TypeScript definitions"
It would be useful to have TypeScript definitions when using the library programmatically with Node/TypeScript.

Would you be receptive to a PR that adds types? As an alternative, I'd be happy to contribute them to https://github.com/DefinitelyTyped/DefinitelyTyped as `@types/htmlnano` if it's beyond the scope of this project.

[2022-07-21 12:46] maltsev commented on #201
Yes, I'd be happy to accept your PR. Thanks!

[2022-08-01 06:44] #201 closed

[2022-09-01 17:07] dannya commented on #182
@maltsev please can you update the GitHub releases too, it still shows 2.0.1 as the latest.

[2022-09-01 17:21] SukkaW commented on #182
@dannya 2.0.2 is released on npm and includes the fix.

[2022-09-01 17:36] dannya commented on #182
@SukkaW sure, so might as well update the GitHub release too!

![image](https://user-images.githubusercontent.com/394687/187977587-22607e30-a5e3-4144-aa20-da8ffd9206cc.png)

[2022-10-30 14:16] universemaster opened #205 "Conflicting peer dependency: svgo@2.8.0 npm ERR! node_modules/svgo"
Support svgo 3.

npm ERR! ERESOLVE could not resolve
npm ERR!
npm ERR! While resolving: htmlnano@2.0.2
npm ERR! Found: svgo@3.0.0
npm ERR! node_modules/svgo
npm ERR!   svgo@"^3.0.0" from the root project

[2022-11-11 21:45] mischnic opened #207 "`x-intersect:enter` attribute on SVG triggers `Cannot read properties of undefined (reading 'attrs')`"
`x-intersect:enter` is used by Alpine.JS: https://alpinejs.dev/plugins/intersect

Error:
[code]

Reproduction:
[code]

Using version 2.0.2

[2022-11-12 01:13] SukkaW commented on #207
@mrmlnc The issue has already been fixed in the `master` branch. However, `htmlnano` hasn't released any version since May.

[2022-11-13 17:57] maltsev commented on #207
I just released a new version: [2.0.3](https://www.npmjs.com/package/htmlnano/v/2.0.3)

[2022-11-13 17:57] #207 closed